<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616777944660-itrv3t4o18juotaf0mu3jo0bbrfdjepm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616777944660-itrv3t4o18juotaf0mu3jo0bbrfdjepm</string>
	<key>API_KEY</key>
	<string>AIzaSyDkvfNbLKOw2iF8OE9_PxWnCXicYT4eKtI</string>
	<key>GCM_SENDER_ID</key>
	<string>616777944660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csquizapp</string>
	<key>PROJECT_ID</key>
	<string>csclubquizmakerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>csclubquizmakerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616777944660:ios:e002d3e1764ce3d89727c1</string>
</dict>
</plist>